#footer {
    width: 100vw;
    min-height: 100px;
    background-color: rgb(231, 227, 220);
}

#footer > div {
    align-self: center;
}

#to-top-text {
    transition: box-shadow 0.2s linear;
}

#to-top-text:hover {
    box-shadow: 0px 1.5px gray;
}