#dimmitt-dome-logo {
    font-family: "Open Sans", sans-serif;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#link-list {
    visibility: visible;
}

#menu-icon {
    visibility: hidden;
    margin-right: 10px;
    /* background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0; */
}

@media (max-width: 40rem) {
    #link-list {
        visibility: hidden;
        width: 0px;
    }
    #menu-icon {
        visibility: visible;
    }
    #dimmitt-dome-logo {
        width: 100%;
    }
}